.jumbotron {
    background-image: url("smoke.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    color: whitesmoke;
    
}
body {
    background-image: url("smoke.gif");
    background-repeat: no-repeat;
    background-size: 100%;

}